@charset "UTF-8";

body { 
    background-color: #009DFA;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #0f425f ;
}

#principal {
    text-align: center;
   background-color: #2B3033;
   color: #2b78a5;
}


h2 {
    color: #377DA5;
}

.basico {
    color: rgb(64, 126, 2);
    font-weight: bold;
}

.inter {
  color: rgb(126, 2, 2);
}

.avancado {
    color: rgb(87, 2, 126);
}

.destaque {
    background-color: rgb(251, 255, 0);
}