@charset "UTF-8";

body {
    background-color: rgb(11, 11, 53);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}
h2 {
    color: rgb(255, 0, 0);
}
p {
    text-align: justify;
}