body{
    text-align: center;
    background-image: url(imagens/image.png);
    color: white;
   
}

main{
    background-color: rgba(5, 230, 61, 0.233);
    border: 1px solid rgba(0, 0, 0, 0.041);
    border-radius: 20px 20px;
    width: 300px;
    height: 250px;
    margin: auto;
}
