@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #0D0D0D, #1c306b );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #041220b6;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
   color: #4B74F5;
   text-align: center;
   text-shadow: 1px 2px 0px #3855b89d;;
}

h2 {
 color: #032029;
}

p {
    text-align: justify;
}